@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: oklch(0.9948 0.0086 145.5108);
  --foreground: oklch(0.2156 0 0);
  --card: oklch(0.9896 0.0171 145.4443);
  --card-foreground: oklch(0.2156 0 0);
  --popover: oklch(0.9896 0.0171 145.4443);
  --popover-foreground: oklch(0.2156 0 0);
  --primary: oklch(0.5918 0.1886 142.7251);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.8466 0.0779 135.322);
  --secondary-foreground: oklch(0.2156 0 0);
  --muted: oklch(0.9283 0.0174 145.4333);
  --muted-foreground: oklch(0.4649 0 0);
  --accent: oklch(0.8963 0.0394 145.237);
  --accent-foreground: oklch(0.2156 0 0);
  --destructive: oklch(0.5875 0.2303 28.2622);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.8557 0.0354 145.257);
  --input: oklch(0.9283 0.0174 145.4333);
  --ring: oklch(0.5918 0.1886 142.7251);
  --chart-1: oklch(0.6318 0.1589 149.7337);
  --chart-2: oklch(0.7849 0.2299 138.0859);
  --chart-3: oklch(0.6704 0.1177 166.9176);
  --chart-4: oklch(0.7879 0.1603 125.5623);
  --chart-5: oklch(0.5193 0.1602 142.8311);
  --sidebar: oklch(0.9896 0.0171 145.4443);
  --sidebar-foreground: oklch(0.2156 0 0);
  --sidebar-primary: oklch(0.9848 0 0);
  --sidebar-primary-foreground: oklch(0.5499 0.1804 142.6265);
  --sidebar-accent: oklch(0.7395 0.2268 142.8504);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.465 0.1457 142.7811);
  --sidebar-ring: oklch(0.7395 0.2268 142.8504);
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.2rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(120, 10%, 20%);
  --shadow-2xs: 0 0.2rem 0.5rem 0 hsl(120 10% 20% / 0.05);
  --shadow-xs: 0 0.2rem 0.5rem 0 hsl(120 10% 20% / 0.05);
  --shadow-sm:
    0 0.2rem 0.5rem 0 hsl(120 10% 20% / 0.1),
    0 1px 2px -1px hsl(120 10% 20% / 0.1);
  --shadow:
    0 0.2rem 0.5rem 0 hsl(120 10% 20% / 0.1),
    0 1px 2px -1px hsl(120 10% 20% / 0.1);
  --shadow-md:
    0 0.2rem 0.5rem 0 hsl(120 10% 20% / 0.1),
    0 2px 4px -1px hsl(120 10% 20% / 0.1);
  --shadow-lg:
    0 0.2rem 0.5rem 0 hsl(120 10% 20% / 0.1),
    0 4px 6px -1px hsl(120 10% 20% / 0.1);
  --shadow-xl:
    0 0.2rem 0.5rem 0 hsl(120 10% 20% / 0.1),
    0 8px 10px -1px hsl(120 10% 20% / 0.1);
  --shadow-2xl: 0 0.2rem 0.5rem 0 hsl(120 10% 20% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.214 0.0064 248.1257);
  --foreground: oklch(0.9234 0 0);
  --card: oklch(0.2464 0.008 248.1523);
  --card-foreground: oklch(0.9234 0 0);
  --popover: oklch(0.2464 0.008 248.1523);
  --popover-foreground: oklch(0.9234 0 0);
  --primary: oklch(0.7395 0.2268 142.8504);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.5383 0.1148 136.3625);
  --secondary-foreground: oklch(0.9234 0 0);
  --muted: oklch(0.3187 0.0092 248.1175);
  --muted-foreground: oklch(0.7244 0 0);
  --accent: oklch(0.3477 0.013 248.2004);
  --accent-foreground: oklch(0.9234 0 0);
  --destructive: oklch(0.6333 0.2001 24.932);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3671 0.0139 248.2062);
  --input: oklch(0.3187 0.0092 248.1175);
  --ring: oklch(0.7395 0.2268 142.8504);
  --chart-1: oklch(0.6318 0.1589 149.7337);
  --chart-2: oklch(0.7849 0.2299 138.0859);
  --chart-3: oklch(0.6704 0.1177 166.9176);
  --chart-4: oklch(0.7879 0.1603 125.5623);
  --chart-5: oklch(0.5193 0.1602 142.8311);
  --sidebar: oklch(0.2674 0.009 248.1657);
  --sidebar-foreground: oklch(0.9234 0 0);
  --sidebar-primary: oklch(0.9234 0 0);
  --sidebar-primary-foreground: oklch(0.2674 0.009 248.1657);
  --sidebar-accent: oklch(0.4723 0.113 143.5284);
  --sidebar-accent-foreground: oklch(0.9234 0 0);
  --sidebar-border: oklch(0.4144 0.0162 248.2179);
  --sidebar-ring: oklch(0.4723 0.113 143.5284);
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.2rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(210, 10%, 5%);
  --shadow-2xs: 0 0.2rem 0.5rem 0 hsl(210 10% 5% / 0.25);
  --shadow-xs: 0 0.2rem 0.5rem 0 hsl(210 10% 5% / 0.25);
  --shadow-sm:
    0 0.2rem 0.5rem 0 hsl(210 10% 5% / 0.5),
    0 1px 2px -1px hsl(210 10% 5% / 0.5);
  --shadow:
    0 0.2rem 0.5rem 0 hsl(210 10% 5% / 0.5),
    0 1px 2px -1px hsl(210 10% 5% / 0.5);
  --shadow-md:
    0 0.2rem 0.5rem 0 hsl(210 10% 5% / 0.5),
    0 2px 4px -1px hsl(210 10% 5% / 0.5);
  --shadow-lg:
    0 0.2rem 0.5rem 0 hsl(210 10% 5% / 0.5),
    0 4px 6px -1px hsl(210 10% 5% / 0.5);
  --shadow-xl:
    0 0.2rem 0.5rem 0 hsl(210 10% 5% / 0.5),
    0 8px 10px -1px hsl(210 10% 5% / 0.5);
  --shadow-2xl: 0 0.2rem 0.5rem 0 hsl(210 10% 5% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1480px;
    }
  }
}
